@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "../styles/globals.css";

@layer base {
    :root {
        --font-family-secondary: "Montserrat", sans-serif;
        @apply font-sans;
        font-family: 'Poppins', sans-serif;
    }

    body {
        @apply min-h-screen relative;
    }
}



.font-secondary {
    font-family: var(--font-family-secondary);
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 256px 224px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion) {
    *,
    ::before,
    ::after {
        animation: none !important;
    }
}
